.container{
  font-weight:900;
  border: solid 1px green;
  width: 300px;
}

#b325{
  border-bottom: solid 2px green;  
}

.asteroid-big{
  background-color: yellow;
  width: 300px;
  color: blue;
}

.asteroid-b329-big{
  font-weight:900;
  color: blue;
}